.heading{
    width:100%;
    text-align: left;
}

.heading h3{
    display:inline;
    font-family: 'Grandstander', cursive;
    font-size:30px;
}

.heading button{
    float:right;
    border:5px solid white;
}

.big_image{
    width:100%;
}

#start,#status{
    font-size:22px;
}

#start:hover{;
    background-color:rgb(78, 130, 241);
    border-radius:20px;
}

h4{
    background-color: white;
    line-height: 2;
    margin:0px;
}

.modal-dialog{
    width:50%;
    
}

.instruction_img{
    display:inline-block;
    width:32%;
}

.coin{
    width:250px;
    height:250px;
    margin-left: 100px;
    margin-right: 100px;
}